//Cores
$primaryHtmlColor: #E44D26;
$secondaryHtmlColor: #F16529;
$primaryCssColor: #264DE4;
$secondaryCssColor: #2965F1;
$primaryJsColor: #E5A228;
$secondaryJsColor: #F1BF26;
$backgroundDefaultColor: #FFFFFF;
$fontDefaultColor: #000000;
$backgroundSecondaryColor: #000000;
$fontSecondaryColor: #FFFFFF;
//Gradientes
$gradienteHTML: linear-gradient(90deg, rgba(228, 77, 38, 0.8) 0%, rgba(241, 101, 41, 0.8) 100%);
$gradienteCSS: linear-gradient(90deg, rgba(38, 77, 228, 0.8) 0%, rgba(41, 101, 241, 0.8) 100%);
$gradienteJS: linear-gradient(90deg, rgba(229, 162, 40, 0.8) 0%, rgba(241, 191, 38, 0.8) 100%);
$gradienteLinks: linear-gradient(90deg, #BBBBBB 0%, #DDDDDD 100%);
//Fontes
$breakpoints: (
  xs: 0,    	//Smartphones em modo retrato
  sm: 576px,	//Smartphones em modo paisagem ou Tablets em modo retrato
  md: 768px,	//Tablets em modo paisagem
  lg: 992px,	//Desktops
  xl: 1200px,   //Desktops com alta definição HD e FHD
  xxl: 2000px   //Desktops com ultra alta definição QHD e UHD
);

$colorsLikert: (
  1: #9E2731,   	 
  2: #D41314,
  3: #C75413,    
  4: #F8CA2E,    
  5: #C9E165,    
  6: #7ADC54,   
  7: #027F37   
);
*{
    margin: 0;
    padding: 0;
}
body {
  font: 400 1rem 'Roboto', sans-serif;
}
.menu{
    width: 100vw;
    max-width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    background-color: $backgroundSecondaryColor;
    align-items: center;
    #logo{
      padding-top: 5vw;
      width: 13vw;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1em;
      
    }
  .links{
    width: 100%;
    list-style: none;
    height: 3em;
    display: flex;
    justify-content: end;   
    li{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 6.5em;
      text-align: center;
      a{
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: $fontSecondaryColor;
      }
    }
  }
}
.menu_mob{
  display: none;
}
.botao{
  background-color: $backgroundSecondaryColor;
  border: none;
  border-radius: 50px;
  text-align: center;
  color: $fontSecondaryColor;
  padding: 0.5em;
  font-size: 1.5em;
  text-decoration: none;
  cursor: pointer;
  &:hover{
    background-color: $backgroundDefaultColor;
    color: $fontDefaultColor;
  }
}
#container-inicial{
  //imagem transparente
  background-image: url("../img/Destaque_o20.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  max-width: 100%;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    color: $fontDefaultColor;
    font-size: 2.5em;
    text-align: center;
  }
  h2{
    color: $fontDefaultColor;
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
  }
}
.html{
  color: $primaryHtmlColor;
}
.css{
  color: $primaryCssColor;
}
.js{
  color: $primaryJsColor;
}
#container-html{
  background-image: $gradienteHTML;
  width: 100%;
  height: 95vh;
  display: inline-flex;
  
}
.esquerda{
  padding-top:25vh;
  position: relative;
}
.direita{
  padding-top:20vh;
  position: relative;
  text-align: center;
  h1{
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 5vh;
  }
  h2{
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 3vh;
  }
  p{
    font-size: 1.5em;
    font-weight: bold;
    text-align: justify;
    margin-bottom: 3vh;
    width: 95%;
  }
}

#container-css{
  background-image: $gradienteCSS;
  height: 95vh;
  display: inline-flex;
  flex-direction: row-reverse;
  padding-left: 5vh;
}
#container-js{
  background-image: $gradienteJS;
  width: 100%;
  height: 95vh;
  display: inline-flex;
}
#container-links{
  background-image: $gradienteLinks;
  width: 100%;
  height: 95vh;
  display: grid;
  justify-content: center;
  justify-content: space-between;
  .link{
    display: grid;
    font-size: 3.5em;
    text-align: center;
    margin-bottom: -5vh;
    max-height: 3.5em;
    grid-column: 1 / span 3;
    align-items: center;
    font-weight: bold;
  }
  .planejamento{
    text-align: left;

    h2{
      padding-left: 2em;
      margin-bottom: 3vh;
      margin-left: 3vh;
    }
    ul{
      list-style: none;
      display: flex;
      flex-direction: column;
      li{
        display: flex;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        margin-bottom: 3vh;
        margin-left: 3vh;
        a{
          display: flex;
          justify-content: center;
          text-decoration: none;
          align-content: center;
          flex-wrap: wrap;
          color: $fontDefaultColor;
        }
        img{
          width: 2em;
          padding-right: 1em;
        }
      }
    }
  }
  .programacao{
    text-align: center;
    display: flex;
    flex-direction: column;

    h2{
      padding-left: 2em;
      text-align: left;
      margin-bottom: 3vh;
      margin-left: 3vh;
    }
    ul{
      list-style: none;
      display: flex;
      flex-direction: column;
      li{
        display: flex;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        margin-bottom: 3vh;
        margin-left: 3vh;
        a{
          display: flex;
          justify-content: center;
          text-decoration: none;
          align-content: center;
          flex-wrap: wrap;
          color: $fontDefaultColor;
        }
        img{
          width: 2em;
          padding-right: 1em;
        }
      }
    }
  }
  .ajuda{
    text-align: right;
    display: flex;
    flex-direction: column;
    h2{
      padding-left: 2em;
      text-align: left;
      margin-bottom: 3vh;
      margin-left: 3vh;
    }
    ul{
      list-style: none;
      display: flex;
      flex-direction: column;
      li{
        display: flex;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        margin-bottom: 3vh;
        margin-left: 3vh;
        a{
          display: flex;
          justify-content: center;
          text-decoration: none;
          align-content: center;
          flex-wrap: wrap;
          color: $fontDefaultColor;
        }
        img{
          width: 2em;
          padding-right: 1em;
        }
      }
    }
  }
}
.container{
  display: none;
}
#footer{
  color: $fontSecondaryColor;
  background-color: $backgroundSecondaryColor;
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  img{
    width: 2em;
    padding-left: 1em;
  }
  .init{
    text-align: left;
  }
  .fim{
    text-align: right;
  }
}
.back-to-top {
  background-color: #38322e;
  text-decoration: none;
  border-radius: 65px;
  bottom: 14px;
  box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);
  color: #d9a000;
  cursor: pointer;
  height: 40px;
  position: fixed;
  right: 22px;
  width: 40px;
  z-index: 3;
  display: none;
&::after {
    content: '▲';
    display: flex;
    justify-content: center;
    padding-left: 1px;
    padding-top: 10px;
  }
}
.back-to-top.display.active {
  display: block;
}

//media queries
//Smartphones em modo retrato
@media only screen and (max-width: map-get($breakpoints, xs)) and (orientation: portrait) {
 
}
//modo retrato
@media only screen and (max-width: map-get($breakpoints, sm)) and (orientation: portrait) {
  header{
    background-color: $backgroundSecondaryColor;
  }
   .menu_mob{
    width: 100vw;
    max-width: 100%;
    height: 8vh;
    display: inline-block;
    justify-content: space-between;
    background-color: $backgroundSecondaryColor;
    align-items: center;
    flex-direction: wrap;

      #logo{
        padding-top: 2vw;
        width: 25vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1em;
        position: relative;
        
      }
      ul{
        display: flex;
        padding-bottom:20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 100%;
        height: 25vh;
        background-color: $backgroundSecondaryColor;
        li{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 6vh;
          a{
            color: $fontSecondaryColor;
            text-decoration: none;
            font-size: 1.5em;
          }
        }
      }
   }
   .baixo{
    display: none;
   }
   .baixo.active{
    position: relative;
    width: 100vw;
    max-width: 100%;
    display: flex;
   }
    .menu{
      display: none;
    }
    .container{
      float: right;
      display: block;
    }
    
  
   .btn {top: 0; left: 0px;cursor: pointer;
    
   }
   .btn-left {
    background-color: $backgroundDefaultColor;
    position: absolute;
    height: 5px;
    width: 25px;
    top: 30px;
    left: 80%;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
   }
   .btn-right {
    background-color: $backgroundDefaultColor;
    position: absolute;
    height: 5px;
    width: 25px;
    top: 30px;
    left: 85%;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .btn-left:before {
    background-color: $backgroundDefaultColor;
    position: absolute;
    width: 25px;
    height: 5px;
    content: "";
    top: -20px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .btn-left:after {
    background-color: $backgroundDefaultColor;
    position: absolute;
    width: 25px;
    height: 5px;
    content: "";
    top: 20px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .btn-right:before {
    background-color: $backgroundDefaultColor;
    position: absolute;
    width: 25px;
    height: 5px;
    content: "";
    top: -20px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .btn-right:after {
    background-color: $backgroundDefaultColor;
    position: absolute;
    width: 25px;
    height: 5px;
    content: "";
    top: 20px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .active .btn-left {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
  }
  .active .btn-left:before {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
    transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
  }
  .active .btn-left:after {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
  }
  .active .btn-right {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
  }
  .active .btn-right:before {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
  }
  .active .btn-right:after {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
    transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
  }
  #container-html{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 45vw;

    }
    .esquerda{
      padding-top: 5vh;
    }
    .direita{
      padding-top: 5vh;
      p{
        padding-left: 1vh;
        width: 95%;
      }
      h1{
        font-size: 2em;
      }
      h2{
        font-size: 1.5em;
      }
      p{
        font-size: 1em;
      }
    }
  }
  #container-css{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    img{
      width: 45vw;

    }
    .esquerda{
      padding-top: 5vh;
    }
    .direita{
      padding-top: 5vh;
      p{
        padding-left: 1vh;
        width: 95%;
      }
      h1{
        font-size: 2em;
      }
      h2{
        font-size: 1.5em;
      }
      p{
        font-size: 1em;
      }
    }
  }
  #container-js{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 45vw;

    }
    .esquerda{
      padding-top: 5vh;
    }
    .direita{
      padding-top: 5vh;
      p{
        padding-left: 1vh;
        width: 95%;
      }
      h1{
        font-size: 2em;
      }
      h2{
        font-size: 1.5em;
      }
      p{
        font-size: 1em;
      }
    }
  }
  #container-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .link{
      font-size: 3em;
      font-weight: bold;
      margin-bottom: 3vh;
    }
    .planejamento, .programacao, .ajuda{
      text-align: center;
      width: 33vh;
      display: flex;
      align-items: flex-start;
      h2{
        margin-bottom: 3vh;
        font-size: 2em;
      }
      ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        li{
          display: flex;
          font-size: 1.2em;
          font-weight: bold;
          text-align: center;
          margin-bottom: 3vh;
          a{
            display: flex;
            justify-content: center;
            text-decoration: none;
            align-content: center;
            flex-wrap: wrap;
            color: $fontDefaultColor;
          }
          img{
            width: 1.2em;
            height: 1.2em;
            padding-right: 1em;
          }
        }
      }
    }
  }
    
}
//modo paisagem
@media only screen and (min-width: map-get($breakpoints, sm)) and (orientation: landscape) {
    
}

@media only screen and (max-width: map-get($breakpoints, md)) {
  header{
    background-color: $backgroundSecondaryColor;
  }
   .menu_mob{
    width: 100vw;
    max-width: 100%;
    height: 8vh;
    display: inline-block;
    justify-content: space-between;
    background-color: $backgroundSecondaryColor;
    align-items: center;
    flex-direction: wrap;

      #logo{
        padding-top: 2vw;
        width: 25vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1em;
        position: relative;
        
      }
      ul{
        display: flex;
        padding-bottom:20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 100%;
        height: 25vh;
        background-color: $backgroundSecondaryColor;
        li{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 6vh;
          a{
            color: $fontSecondaryColor;
            text-decoration: none;
            font-size: 1.5em;
          }
        }
      }
   }
   .baixo{
    display: none;
   }
   .baixo.active{
    position: relative;
    width: 100vw;
    max-width: 100%;
    display: flex;
   }
    .menu{
      display: none;
    }
    .container{
      float: right;
      display: block;
    }
    
  
   .btn {top: 0; left: 0px;cursor: pointer;
    
   }
   .btn-left {
    background-color: $backgroundDefaultColor;
    position: absolute;
    height: 5px;
    width: 25px;
    top: 30px;
    left: 80%;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
   }
   .btn-right {
    background-color: $backgroundDefaultColor;
    position: absolute;
    height: 5px;
    width: 25px;
    top: 30px;
    left: 83%;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .btn-left:before {
    background-color: $backgroundDefaultColor;
    position: absolute;
    width: 25px;
    height: 5px;
    content: "";
    top: -20px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .btn-left:after {
    background-color: $backgroundDefaultColor;
    position: absolute;
    width: 25px;
    height: 5px;
    content: "";
    top: 20px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .btn-right:before {
    background-color: $backgroundDefaultColor;
    position: absolute;
    width: 25px;
    height: 5px;
    content: "";
    top: -20px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .btn-right:after {
    background-color: $backgroundDefaultColor;
    position: absolute;
    width: 25px;
    height: 5px;
    content: "";
    top: 20px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .active .btn-left {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
  }
  .active .btn-left:before {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
    transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
  }
  .active .btn-left:after {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
  }
  .active .btn-right {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
  }
  .active .btn-right:before {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
  }
  .active .btn-right:after {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
    transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
  }
  #container-html{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 45vw;

    }
    .esquerda{
      padding-top: 5vh;
    }
    .direita{
      padding-top: 5vh;
      p{
        padding-left: 1vh;
        width: 95%;
      }
      h1{
        font-size: 2em;
      }
      h2{
        font-size: 1.5em;
      }
      p{
        font-size: 1em;
      }
    }
  }
  #container-css{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    img{
      width: 45vw;

    }
    .esquerda{
      padding-top: 5vh;
    }
    .direita{
      padding-top: 5vh;
      p{
        padding-left: 1vh;
        width: 95%;
      }
      h1{
        font-size: 2em;
      }
      h2{
        font-size: 1.5em;
      }
      p{
        font-size: 1em;
      }
    }
  }
  #container-js{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 45vw;

    }
    .esquerda{
      padding-top: 5vh;
    }
    .direita{
      padding-top: 5vh;
      p{
        padding-left: 1vh;
        width: 95%;
      }
      h1{
        font-size: 2em;
      }
      h2{
        font-size: 1.5em;
      }
      p{
        font-size: 1em;
      }
    }
  }
  #container-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .link{
      font-size: 3em;
      font-weight: bold;
      margin-bottom: 3vh;
    }
    .planejamento, .programacao, .ajuda{
      text-align: center;
      width: 33vh;
      display: flex;
      align-items: flex-start;
      h2{
        margin-bottom: 3vh;
        font-size: 2em;
      }
      ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        li{
          display: flex;
          font-size: 1.2em;
          font-weight: bold;
          text-align: center;
          margin-bottom: 3vh;
          a{
            display: flex;
            justify-content: center;
            text-decoration: none;
            align-content: center;
            flex-wrap: wrap;
            color: $fontDefaultColor;
          }
          img{
            width: 1.2em;
            height: 1.2em;
            padding-right: 1em;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: map-get($breakpoints, lg)) {
  
    
}

@media only screen and (min-width: map-get($breakpoints, xl)) {
    
    
}
//Desktops com ultra alta definição QHD e UHD
@media only screen and (min-width: map-get($breakpoints, xxl)) {
    
    
}